Language: Cpp
BasedOnStyle: Google
IncludeBlocks: Preserve
InsertNewlineAtEOF: true
PointerAlignment: Left
CompactNamespaces: false
NamespaceIndentation: All
BreakBeforeBraces: Allman
AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 2
MaxEmptyLinesToKeep: 2
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlignOperands: DontAlign
AlignEscapedNewlines: DontAlign
AccessModifierOffset: 0
